@model Common.Dto.PurchaseOrderDto

@{
    ViewData["Title"] = "Purchase Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
    <hr />
    <table class="table table-bordered mt-5">
        <thead>
            <tr>
                <th>Sr No</th>
                <th>Item Name</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items != null)
            {
                for (int i = 0; i < Model.Items.Count; i++)
                {
                    var srNo = i + 1;
                    <tr>
                        <td>@srNo</td>
                        <td>@Model.Items[i].ItemName</td>
                        <td>@Model.Items[i].Unit</td>
                        <td>@Model.Items[i].Quantity</td>
                        <td>@Model.Items[i].Rate</td>
                        <td>@Model.Items[i].Amount</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3" style="text-align:center">Total</th>
                <th>@Model.TotalQuantity</th>
                <th></th>
                <th>@Model.TotalAmount</th>
            </tr>
        </tfoot>
    </table>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { code = @Model.Code }) |
    <a asp-action="Index">Back to List</a>
</div>
